---
---
$font-header: "Century Gothic", Futura, sans-serif;
$font-content: "Source Code Pro Light";

@font-face {
  font-family:"Source Code Pro Light";
  src: url("{{site.data.global.url}}/fonts/SourceCodePro-Light.ttf")
}
body{
  line-height:24px;
  font-family: $font-content;
  font-size:11pt;
  background-color:white;
  text-align:left;
  padding:0;
}
h1, h2, h3{
  font-family: $font-header;
}
#container{
 position: relative;
 min-height: 100%;
}
.header{
  background-color:white;
  width:750px;
  height: 40px;
  position:fixed;
  top:0;
  min-width:400px;
  padding:10px;
  padding-left:0;
  padding-right:0;
  margin-top:0;
  min-width:300px;
  margin-left:auto;
  margin-right:auto;
  left:0;
  right:0;
  border-bottom: 2px solid black;
}
a{
  color:black;
  text-decoration: none;
}
.sitename{
  font-size:35px;
  font-weight: 700;
  position:absolute;
  top:25px;
  font-family: $font-header;
}
.navlinks{
  display:inline-block;
  float:right;
  position:absolute;
  bottom:5px;
  right:0;
  a{
    color:black;
    padding:3px;
    padding-left:15px;
    padding-right:15px;
    margin-left:15px;
    text-decoration:none;
  }
  a:hover{
    background-color:black;
    color:white;
  }
}
#content{
  max-width:650px;
  min-width:400px;
  margin-left: auto;
  margin-right: auto;
  a{
    text-decoration: underline;
  }
}
.post-date{
  color: lightgray;
}
.post-date:hover{
  color:black;
}
.blogitem{
  p{
    margin-top:10px;
  }
  .post-title{
    margin:0;
    font-size:16pt;
    padding-left:0px;
    padding-right:0px;
    display: inline-block;
  }
  .blog-post-date{
    color:lightgray;
  }
}
.blogitem:hover{
  .post-title{
    color:white;
    background-color: black;
  }
  .blog-post-date{
    color:black;
  }
}
footer{
  position:absolute;
  bottom:0;
  left: 0;
  right: 0;
  background-color:white;
  height:50px;
  padding-top:8px;
  margin-bottom:0;
  border-top: 2px solid black;
  max-width:750px;
  min-width:400px;
  margin-left:auto;
  margin-right:auto;
  .imgs{
    width:80px;
    margin-left: auto;
    margin-right: auto;
    img{
      width:20px;
      height:20px;
    }
  }
  p{
    margin-top: 0px;
    margin-bottom:0;
    padding-bottom: 0;
    line-height: 15px;;
    font-size: 12px;
    text-align: center;
  }
}
code, pre{
  background-color: #E8E8E8;
}
