---
---
$font-header: "Century Gothic", Futura, sans-serif;
$font-content: "Source Code Pro Light";

@font-face {
  font-family:"Source Code Pro Light";
  src: url("{{site.data.global.url}}/fonts/SourceCodePro-Light.ttf")
}
body{
  font-family: $font-content;
  background-color:white;
  text-align:left;
}
h1, h2, h3{
  font-family: $font-header;
}
.headerbar {
  width: 100%;
  margin:0;
}
.header{
  max-width:750px;
  height: 40px;
  position:relative;
  min-width:400px;
  padding:10px;
  padding-left:0;
  padding-right:0;
  min-width:300px;
  margin-left:auto;
  margin-right:auto;
  border-bottom: 2px solid black;
}
a{
  color:black;
  text-decoration: none;
}
.sitename{
  font-size:35px;
  font-weight: 700;
  position:absolute;
  top:6px;
  font-family: $font-header
}
.navlinks{
  display:inline-block;
  float:right;
  position:absolute;
  bottom:15px;
  right:0;
  a{
    color:black;
    padding:3px;
    padding-left:20px;
    padding-right:20px;
    margin-left:15px;
    text-decoration:none;
  }
  a:hover{
    background-color:black;
    color:white;
  }
}
.content{
  max-width:650px;
  min-width:400px;
  margin-left: auto;
  margin-right: auto;
}
.blogitem{
  .post-title{
    font-size:16pt;
    padding-left:0px;
    padding-right:0px;
    display: inline-block;
  }
}
.blogitem:hover{
  .post-title{
    color:white;
    background-color: black;
  }
}
.footerbar{
  height:30px;
  position:fixed;
  bottom:30px;
  width:100%;
}
.footer{
  background-color:white;
  padding:0;
  padding-top:10px;
  margin-bottom:20px;
  border-top: 2px solid black;
  max-width:750px;
  min-width:400px;
  margin-left:auto;
  margin-right:auto;
  .imgs{
    width:80px;
    margin-left: auto;
    margin-right: auto;
    img{
      width:20px;
      height:20px;
    }
  }

}
