<footer>
    <div class="imgs">
      <a href="https://www.facebook.com/bbenkins"><img src="{{site.data.global.url}}/img/facebook.png"></a>
      <a href="https://github.com/benjaminjenkins1"><img src="{{site.data.global.url}}/img/github.png"></a>
      <a href="https://www.linkedin.com/in/benjamin-jenkins-44086bb7/"><img src="{{site.data.global.url}}/img/linkedin.png"></a>
    </div>
    <a href="{{site.data.global.url}}/_pages/about.html"><p>Benjamin Jenkins</p></a>
</footer>
</div>
<script src="{{site.data.global.url}}/js/power.js" type="text/javascript"></script>

</body>
</html>
